body {
    background-color: #F4F4F7;
    color:#F4F4F7;
}


#bodyContainer {
    width: 100%;
    background-color: #BCBDDE;
}
#contentContainer {

    width:100%;
/*  background-clip: padding-box; */
}
#navigationContainer {
    width:15%;
    padding: 4px;
    background-color: #8570A2;
    vertical-align: top;
}
#directoryContainer {

    background-color: #EAEAEA;
    width:100%;
    padding:0px;

}
#layoutButton {
    float: right;
    position: relative;
    bottom: 30px;
}

/* list sort styling */
div.list {
    padding:2px;

}

div.list img, div.list input {
    margin-left: 6px;
    height:2em;
    width:2em;
    cursor: pointer;
    margin-right:4px;
}
div.file.list>form, #iconpopup>form {
    display: inline;
}
div.file.list span.info {
    float:right;
    width:15%;
    text-align:right
    margin-right:10px;
}

div.icon {
    width: 90px;
    height:90px;
    display:inline-block; /* not supported in a very few browsers */
    margin: 4px 4px 0 0;
    padding: 5px;
    float: left;
    background-image: url("wf_images/unknownIcon.png");
}
div.icon.dir {
    background-image: url("wf_images/folderIcon.png");
}
/* Format-specific icon images */
/* Images */
div.icon.file[name$=".jpg"],
div.icon.file[name$=".jpeg"],
div.icon.file[name$=".png"],
div.icon.file[name$=".bmp"],
div.icon.file[name$=".gif"] {
	background-image: url("wf_images/imageIcon.png");
}
/* text files */
div.icon.file[name$=".txt"],
div.icon.file[name$=".log"] {
    background-image: url("wf_images/textIcon.png");
}
/* web files */
div.icon.file[name$=".html"],
div.icon.file[name$=".css"],
div.icon.file[name$=".php"] {
    background-image: url("wf_images/htmlIcon.png");
}
/* word documents */
div.icon.file[name$=".docx"],
div.icon.file[name$=".doc"],
div.icon.file[name$=".pdf"] {
	background-image: url("wf_images/docIcon.png");
}
/* books */
div.icon.file[name$=".epub"],
div.icon.file[name$=".mobi"],
div.icon.file[name$=".pdb"],
div.icon.file[name$=".ibooks"],
div.icon.file[name$=".lit"],
div.icon.file[name$=".rtf"] {
    background-image: url("wf_images/bookIcon.png");
}
/* audio */
div.icon.file[name$=".au"],
div.icon.file[name$=".wav"],
div.icon.file[name$=".mp3"],
div.icon.file[name$=".tta"],
div.icon.file[name$=".flac"] {
    background-image: url("wf_images/audioIcon.png");
}
/* video */
div.icon.file[name$=".mp4"],
div.icon.file[name$=".avi"],
div.icon.file[name$=".mkv"],
div.icon.file[name$=".wmv"],
div.icon.file[name$=".m4v"],
div.icon.file[name$=".webm"] {
    background-image: url("wf_images/videoIcon.png");
}
/* executable */
div.icon.file[name$=".exe"],
div.icon.file[name$=".bat"],
div.icon.file[name$=".sh"] {
    background-image: url("wf_images/exeIcon.png");
}


div.icon img, div.icon input, div.file.icon>form, div.file.icon span.info {
    display: none;
}

#iconpopup {
    position: absolute;
    padding: 4px;
    background-color: 8570A2;
}

.apex {
    background-color: #3bbdff;
    padding: 1px;
}

#tableHead {
color:white;
    cursor: pointer;
   padding:4px;
    background-color: #C7492C;
    margin-bottom:5px;
}
#sortByNameSpan {
    width: 70%
}
#sortByDateSpan {
    float:right;
    width: 15%
}
#sortBySizeSpan {
    float:right;
    width: 15%
}